<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="_csrf" content="{{ csrfToken }}" />
    <meta name="base_url" content="{{ env('BASEURL') }}" />
    <title>{{ title }}</title>
    <link href="{{ env('BASEURL') }}assets/fontawesome/css/all.min.css" rel="stylesheet">
    <link href="{{ env('BASEURL') }}assets/css/styles.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <style>
      .container, .container-fluid{
        max-width: 100% !important;
      }
    </style>
    @!section('css')
</head>

<body>
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    @include('webAdmin/layouts/sidebar')
    <div class="body-wrapper">
      @include('webAdmin/layouts/navbar')
      @!section('content')
    </div>
  </div>
  <script src="{{ env('BASEURL') }}assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="{{ env('BASEURL') }}assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{{ env('BASEURL') }}assets/js/sidebarmenu.js"></script>
  <script src="{{ env('BASEURL') }}assets/js/app.min.js"></script>
  <script src="{{ env('BASEURL') }}assets/libs/simplebar/dist/simplebar.js"></script>
  @!section('js')
</body>

</html>